{% comment %}

	Template parameters

{% endcomment %}

{% capture home %}https://www.metreeca.com/{% endcapture %}
{% capture root %}/{% endcapture %}

{% capture project %}Docs Template{% endcapture %}
{% capture version %}1.2.3{% endcapture %}

{% capture copyright %}© {{ 'now' | date: '%Y' }} Metreeca srl.{% endcapture %}
{% capture license %}This work is licensed under the
	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0 License</a>{% endcapture %}
