/*
 * Copyright © 2013-2021 Metreeca srl. All rights reserved.
 *
 * This file is part of Metreeca/Self.
 *
 * Metreeca/Self is free software: you can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or(at your option) any later version.
 *
 * Metreeca/Self is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Metreeca/Self.
 * If not, see <http://www.gnu.org/licenses/>.
 */

:scope {
	z-index: 1100 !important; /* above functional overlays */
	padding: 1em;
	border-radius: .5em;
	text-align: center;
	white-space: nowrap;
	opacity: 1; /* animatable */
	transition: opacity 1000ms ease;
}

:scope > * {
	display: block;
	margin: 0;
	padding: 0;
}

:scope > a { /* ;(ie) broken image scaling: provide exact size */
	display: inline-block;
	width: 128px;
	height: 128px;
}

:scope > div {
	max-width: 20em;
	margin-top: 0.75em;
	color: #666;
}

:scope .name {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 110%;
	font-weight: 400;
}

:scope .version {
	margin-top: 0;
	font-size: 90%;
}

:scope > .copyright {
	margin-top: 1.5em;
	font-size: 75%;
	color: #888;
}

:scope > .legal {
	margin-top: 0.75em;
	font-size: 75%;
}

:scope > .legal * + * {
	margin-left: 0.5em;
}

/**** Visuals *********************************************************************************************************/

:scope a {
	font-weight: 700;
}

:scope button {
	display: inline-block;
	padding: 0.15em 0.5em 0.2em;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
	border: solid 1px #999;
	border-radius: 5px;
	font-size: 90%;
}

:scope button:hover {
	background-color: #EEE;
}


