/*
 * Copyright © 2013-2019 Metreeca srl. All rights reserved.
 *
 * This file is part of Metreeca/Self.
 *
 * Metreeca/Self is free software: you can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or(at your option) any later version.
 *
 * Metreeca/Self is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Metreeca/Self.
 * If not, see <http://www.gnu.org/licenses/>.
 */

:scope {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	height: 100%;
	padding: 1.25rem 0.5rem 0.75rem 0.75rem;
	overflow: visible !important; /* show tooltips extending beyond box */
}

:root.embedded :scope {
	padding: 0;
}

/**** Main Section ****************************************************************************************************/

:scope > section,
:scope > aside {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

:scope > * > * {
	flex-shrink: 0;
}

:scope > * > :last-child {
	flex-grow: 1;
	flex-shrink: 1;
}

:scope > section {
	flex-grow: 1;
	min-width: 20rem; /* set to enable horizontal shrinking (min-width for flex items is 'auto') / coordinate with BookFace > section > table */
	flex-basis: 0; /* ;(ie) explicitly define to an arbitrary value to enable horizontal shrinking */
	overflow: visible; /* ;( patch broken vertical sizing: padding on :scope causes scrollbars to appear */
}

:scope > section > .port {
	position: relative;
}

:scope > section > .port > * {
	position: absolute; /* ;( fixed positioning won't set height in flexbox child */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

:root.fields-none :scope > section > :first-child {
	display: none;
}

/**** Aside ***********************************************************************************************************/

:scope > aside {
	min-width: 18em; /* minimum allotment for date ranges */
	max-width: 18em;
	padding-left: 1.25em;
}

:root.facets-none :scope > aside {
	display: none;
}

:root.facets-left :scope > section {
	order: 2;
}

:root.facets-left :scope > aside {
	padding-left: 0;
	padding-right: 1.25em;
}
