/*
 * Copyright © 2013-2018 Metreeca srl. All rights reserved.
 *
 * This file is part of Metreeca/Self.
 *
 * Metreeca/Self is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Metreeca/Self is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Metreeca/Self. If not, see <http://www.gnu.org/licenses/>.
 */

:scope {
	min-width: 6em;
	max-width: 45em;
	overflow: hidden;
	white-space: nowrap;
	font-size: 85%;
	font-weight: 400;
}

:scope.dragging {
	opacity: 0.5;
}

:scope > * {
	width: 100%;
	padding-left: 0.3rem;
	padding-right: 0.4rem;
}

/**** Header **********************************************************************************************************/

:scope > header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 2rem; /* coordinate with FacetsView > header */
	font-weight: bold;
	cursor: default;
	color: #333;
	background-color: #DDD;
}

:scope > header > * {
	margin: 0;
}

:scope > header > .toggle {
	margin-right: 0.25rem;
	font-size: 150%;
}

:scope > header > div {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	padding: 0.1em 0.25em 0 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 100%;
	font-weight: bold;
}

/* ;(ie) label may get focus even if not editable */

:scope > header > div:not([disabled]):not([contenteditable]):hover {
	color: #D60;
}

:scope > header > div[contenteditable] {
	outline: solid 1px #FFF;
	background-color: #EEE;
}

:scope > header > div:not([contenteditable]).ascending::after,
:scope > header > div:not([contenteditable]).descending::after {
	padding-left: 0.5em;
	font-family: FontAwesome;
	font-size: 90%;
}

:scope > header > div[contenteditable]::after {
	display: none;
}

:scope > header > div.ascending::after {
	content: '\F0D8'; /* fa-caret-up (fa-sort-asc breaks vertical alignment) */
}

:scope > header > div.descending::after {
	content: '\F0D7'; /* fa-caret-down (fa-sort-desc breaks vertical alignment) */
}

:scope > header > div.present {
	text-decoration: underline;
}

:scope > header > div.missing {
	text-decoration: line-through;
}

:scope > header > .action {
	flex-shrink: 0;
	margin-left: 0.25rem;
}

:scope > header > .action.open {
	font-size: 125%;
}

/**** Section *********************************************************************************************************/

:scope > section {
	min-height: 2.5em !important; /* override .small.busy */
	cursor: default;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top-color: #CCC;
	border-top-style: solid;
	border-bottom-style: solid;
	background-color: #F8F8F8;
}

:scope > section > * {
	width: 100%;
}


