/*
 * Copyright © 2018 Metreeca srl. All rights reserved.
 */
@import url(//fonts.googleapis.com/css?family=Roboto:100,300|Roboto+Condensed:300,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*, *::before, *::after {
	flex: 0 0 auto;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none 1px #CCC;
	border: none 1px #CCC;
	font: inherit;
}

/**** Fonts ***********************************************************************************************************/

html {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.2;
}

header, footer, nav, h1, h2, h3, dt, th, a, strong, small {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

code {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	color: #333;
}

/**** Icons ***********************************************************************************************************/

.icon::before {
	display: inline-block;
	text-rendering: auto;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: inherit;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.icon.wide::before {
	position: relative;
	left: -0.2em;
}

.icon:not(:empty)::before {
	position: relative;
	top: -0.1em;
	width: 1.33em;
	font-size: 90%;
}

/**** Layout **********************************************************************************************************/

html {
	height: 100%;
	width: 100%;
	font-size: 14pt;
	color: #000;
	background-color: #FFF;
}

body {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: stretch;
	padding-top: 3.75rem; /* coordinate with header height */
	text-align: center;
}

body > input {
	display: none;
}

body > * {
	overflow-x: hidden;
	overflow-y: auto;
}

body > nav > * {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

body > * > header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom-style: solid;
	font-size: 1.25rem;
	background-color: rgba(255, 255, 255, 0.9);
}


/**** Navigation ******************************************************************************************************/

body > nav a {
	font-weight: inherit;
}

body > nav > header ~ * {
	display: none;
}

body > input:checked ~ nav > header ~ * {
	display: block;
}

body > nav {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-sizing: content-box; /* border outside fixed header */
}

body > nav > header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom-style: solid;
	transition: top 250ms ease-out;
}

body > nav > header > .logo {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(icons/logo.svg);
	background-origin: content-box;
	background-size: contain;
	background-position: 0;
	background-repeat: no-repeat;
}

body > nav > header > .root {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0.1em 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body > nav > header > label {
	width: 1em;
}

body > nav > header > label::before {
	content: '\f0c9'; /* fa-bars */
}

body > input:checked ~ nav > header > label::before {
	content: '\f00d'; /* fa-times */
}

/**** Navigation/Meta *************************************************************************************************/

body > nav > .title {
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	font-size: 125%;
}

body > nav > .version {
	margin-bottom: 1.5em;
	font-size: 75%;
	color: #999;
}

/**** Navigation/TOC **************************************************************************************************/

body > nav > .toc > h1,
body > nav > .toc > h2,
body > nav > .toc > h3 {
	padding: 0;
	margin: 0;
	border: none;
	font-size: inherit;
	font-weight: 300;
}

body > nav > .toc > h1 {
	font-weight: 700;
}

body > nav > .toc > h1 + h1 {
	margin-top: 0.33em;
}

body > nav > .toc > h2 + h1,
body > nav > .toc > h3 + h1 {
	margin-top: 0.75em;
}

body > nav > .toc > h1 + h2 {
	margin-top: 0.25em;
}

body > nav > .toc > h2::before {
	display: inline-block;
	content: '›';
	width: 0.5em;
	transform: translateY(-7.5%);
}

body > nav > .toc > h3 {
	display: none;
}


/**** Main ************************************************************************************************************/

body > input:checked ~ main {
	display: none;
}

body > main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
}

body > main > header {
	font-weight: 300;
	color: #999;
}

body > main > article {
	max-width: 45rem;
}

body > main > small {
	padding-top: 2em;
	padding-bottom: 1em;
	margin-top: auto;
	font-size: 80%;
	color: #999;
}

body > main > small > a {
	font: inherit;
	color: inherit;
}

body > main > small > a:hover {
	text-decoration: underline;
}

/**** Typography ******************************************************************************************************/

h1,
h2,
h3 {
	clear: both;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	font-weight: 300;
	color: #333;
}

* + h1,
* + h2,
* + h3 {
	margin-top: 0.25em;
}

h1 {
	padding-top: 0.2em; /* coordinate with toc padding-top to align when scrolling to anchor */
	border-bottom-style: solid;
	font-size: 175%;
}

h2 {
	padding-top: 0.5em; /* coordinate with toc padding-top to align when scrolling to anchor */
	border-bottom-style: dotted;
	font-size: 125%;
}

h3 {
	padding-top: 0.1em;
	border-bottom-style: dotted;
	font-variant: small-caps;
	font-size: 100%;
}

dl, ul, ol {
	margin-bottom: 1.5em;
}

ul, ol {
	list-style-position: inside;
}

ul {
	list-style-type: none;
}

ul > li::before {
	content: '›';
	margin-right: 0.25em;
}

ol {
	list-style-type: decimal;
}

li {
	margin-bottom: 0.1em;
}

dt {
	font-weight: 700;
	font-size: 95%;
	color: #333;
}

* + dt {
	margin-top: 1em;
}

dt * {
	font-weight: 700;
}

dd {
	margin-top: 0.5em;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1.5em;
	font-size: 95%;
}

tr:nth-child(odd) > td {
	background-color: #F8F8F8;
}

th,
td {
	padding: 0.5em 0.5em;
	border-bottom-style: solid;
	vertical-align: baseline;
}

th {
	white-space: pre;
	font-weight: 700;
}

pre {
	position: relative;
	overflow: auto;
	padding: 0.5em 0.75em;
	border-style: dotted;
	border-radius: 0.25em;
	white-space: pre-wrap;
	text-align: left;
	tab-size: 4;
	font-size: 85%;
	background-color: #F0F0F0;
}

pre {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

pre + pre,
div + div > pre {
	margin-top: -1em;
}

p {
	margin-bottom: 0.75em;
}

blockquote {
	margin-top: 1.5em;
	padding-left: 2em;
	padding-right: 0.5em;
	margin-bottom: 1.5em;
	border-left: solid 0.5em #EEE;
	font-style: italic;
}

blockquote > small:last-child {
	display: block;
	margin-top: 0.5em;
	text-align: right;
}

img:only-child {
	width: 100%;
	height: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style: solid;
	border-radius: 3px;
	box-shadow: 3pt 3pt 9pt #999;
}

img:not(:only-child) {
	float: right;
	max-width: 40%;
	height: auto;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

hr {
	margin-top: 1em;
	margin-bottom: 1.5em;
	border-top-style: solid;
}

a, a:visited {
	text-decoration: none;
	font-weight: 700;
	color: #567;
}

a:hover, button:active {
	color: #C30 !important;
	border-color: #C30 !important;
	cursor: pointer;
}

a[target=_blank]:after {
	content: '\f08e'; /* external link */
	font-family: FontAwesome;
	font-size: 66%;
	margin-left: 0.5em;
}

a[target].icon:after,
a[target][href*='metreeca']:after {
	display: none;
}

a.more:after {
	content: '›››';
	display: inline-block;
	margin-left: 0.25em;
}

button {
	background-color: transparent;
}

em {
	font-style: italic;
}

strong {
	color: #333;
	white-space: pre;
	font-weight: 700;
}

abbr {
	text-transform: none;
	white-space: pre;
}

code {
	white-space: pre;
	letter-spacing: -0.01em;
	font-size: 90%;
}

/**** Panels **********************************************************************************************************/

.note,
.warning {
	padding: 0.5em 0.75em 0.5em 2.5em;
	border-style: dotted;
	border-left: solid 3px;
	margin-top: 1.5em;
	font-size: 90%;
	background-color: #EEE;
}

.note + .note,
.note + .warning,
.warning + .warning,
.warning + .note {
	margin-top: -0.5em;
}

.note {
	border-left-color: #789;
}

.warning {
	border-left-color: #F80;
}

.note::before,
.warning::before {
	display: inline-block;
	width: 1.5em;
	height: 0;
	margin-left: -1.5em;
	vertical-align: -5%;
	font-family: FontAwesome;
	font-style: normal;
	font-size: 1.25em;
}

.note::before {
	content: '\f05a'; /* fa-info-circle */
	color: #789;
}

.warning::before {
	content: '\f06a'; /* fa-exclamation-circle */
	color: #F80;
}

/**** Left-Aligned Body ***********************************************************************************************/

@media screen and (min-width: 480px) {

	body {
		text-align: left;
	}

	ul, ol {
		list-style-position: outside;
		padding-left: 1.25em;
	}

	ul {
		list-style-type: square;
	}

	ul > li::before {
		display: none;
	}

	dd {
		margin-left: 1em;
	}

}

/**** Side TOC ********************************************************************************************************/

@media screen and (min-width: 640px) {

	body {
		flex-direction: row;
	}

	body > nav {
		width: 15rem;
		padding-bottom: 1.5em;
		border-right-style: solid;
		font-size: 90%;
	}

	body > nav > header {
		width: 15rem; /* align with body > nav width */
		font-size: 1.8rem;
	}

	body > nav > header > label {
		display: none;
	}

	body > nav > header ~ * {
		display: block;
	}

	body > main {
		flex-shrink: 1;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

}
